*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f0f0f;
  color:white;
  font-family:Arial,sans-serif;
}

.app{
  max-width:700px;
  margin:auto;
  padding:20px;
}

header{
  text-align:center;
  margin-bottom:20px;
}

.card{
  background:#1a1a1a;
  border-radius:16px;
  padding:20px;
  margin-bottom:20px;
}

.center{
  text-align:center;
}

.vape-btn{
  border:none;
  background:none;
  cursor:pointer;
  margin:20px 0;
}

.vape-body{
  width:220px;
  height:60px;
  border-radius:40px;
  background:#2b2b2b;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:bold;
}

.led{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#444;
  margin:auto;
  margin-bottom:8px;
}

.led.active{
  background:#00ff88;
  box-shadow:0 0 12px #00ff88;
}

.smoke-wrap{
  height:80px;
  position:relative;
}

.smoke{
  position:absolute;
  width:18px;
  height:18px;
  background:rgba(255,255,255,.4);
  border-radius:50%;
  opacity:0;
}

.smoke.show{
  animation:smoke 2s linear;
}

@keyframes smoke{
  0%{
    transform:translateY(0);
    opacity:1;
  }
  100%{
    transform:translateY(-70px);
    opacity:0;
  }
}

input{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  margin-top:10px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
}

.chat-box{
  height:250px;
  overflow-y:auto;
  background:#111;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.chat-input{
  display:flex;
  gap:10px;
}

.chat-input input{
  flex:1;
}

.ranking{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.vape-btn.pressed {
  transform: scale(0.96);
}

.mist-particle {
  position: absolute;
  bottom: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255,255,255,0.45);
  filter: blur(2px);
  animation: mistUp linear forwards;
}

@keyframes mistUp {
  0% {
    opacity: 0.9;
    transform: translateY(0) scale(0.8);
  }

  100% {
    opacity: 0;
    transform: translateY(-90px) translateX(25px) scale(2.2);
  }
}
.vape-btn,
.vape-btn *,
.vape-body,
.vape-body span {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.vape-btn {
  touch-action: none;
}
.vape-btn,
.vape-btn *,
.vape-body,
.vape-body span {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.vape-btn {
  touch-action: none !important;
}
